body {
	background: url(../resources/images/fondoima.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;      
  }

  .colorContent{
    background: azure
  }